@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper-small {
    max-width: 1024px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
